:root{
     /*------------ MAIN COLOR PALLETE------------*/
     --first-color: #1d1b1b;

    /*------------ TEXT ------------*/
     --nav-link-color: #faf7f7;
     --nav-link-color-alt: #a39b9b;
     --title-color: #f3ecec;
     --text-color: #525050;
     --second-text-color: #f3ecec;
     --copy-color: #dfdada;
    
    /*------------ BLOCKS - CONTAINERS ------------*/
     --body-color: #f3f1ef;
}

